
@import url('https://fonts.googleapis.com/css2?family=Commissioner:wght@100&display=swap');

*
{margin: 0;
padding: 0;
}

body{
    font-family: 'Commissioner', sans-serif;

} 

header{
    padding: 20px;
    text-align: right;
    
}

Nav{
    display: block;
    text-align: right;
    font-weight: bold;
    padding: 20px;
}

div{
    background-image: url(imagem/head);
    background-position: center;
    background-repeat: no-repeat;
    opacity: 0.9;
    filter: brightness(0 50%); 
    height: 510px;
    text-align: center;
    font-size: 40px;
    font-weight: bold;
    color: white;
    min-width: 300px;
    padding: 80px 0 0 0;
    text-shadow: 1px 1px 2px black;    
    
    
}
main{
    min-width: 300px;
    max-width: 1050px;
    margin: auto;
}

main p{ 
    color: #2c2b2b;
    padding: 20px 0px 0px;
    text-align: justify;
    font-weight: bold;
    font-size: 18px;
    min-width: 50px;
    max-width: 1050px;
}

h1{
    padding: 50px 0px 20px;
    text-align: justify;
    font-size: 20px;
    color: #161616; 
    min-width: 100px;
}

h2{
    padding: 35px 0px 20px;
    min-width: 50px;
    max-width: 1050px;
    margin: auto;
}

.siteparagrafo {
    font-size: 18px;
    transition: none;
    
}

a{
    display: inline;
    background-image: linear-gradient(rgb(125, 128, 125), rgb(199, 199, 207));
    background-repeat: no-repeat;
    background-size: 0% 2px;
    background-position: left bottom;
    transition: background-size 500ms ease;
    text-decoration: none;
    padding: 10px ;
    font-size: 23px;
    color: #161616; 
}
a:hover{
    background-size: 100% 2px;
    
}
main img{
   width: 100%;

}
ul{
display: inline;}

