
@import url('https://fonts.googleapis.com/css2?family=Commissioner:wght@100&display=swap');

*
{margin: 0;
padding: 0;
}

body{
    font-family: 'Commissioner', sans-serif;

} 

header{
    padding: 20px;
    text-align: right;
    
}

Nav{
    display: block;
    text-align: right;
    font-weight: bold;
    padding: 20px;
}

.titulo{
    background-image: url(imagem/head);
    background-position: center;
    background-repeat: no-repeat;
    opacity: 0.8;
    filter: brightness(0 50%); 
    width: 350%;
    height: 510px;
    text-align: center;
    font-size: 40px;
    font-weight: bold;
    color: white;
    text-shadow: rgb(80, 78, 78) 2px 3px 2px
    min-width: 300px;
   
    
    
}
main{
    min-width: 300px;
    max-width: 1050px;
    margin: auto;
}

main p{ 
    color: #161616;
    padding: 0px;
    text-align: justify;
    font-weight: bold;
    font-size: 16px;
    min-width: 300px;
    max-width: 1050px;
}

h1{
    padding: 0px 0 0px;
    width: 965px;
    margin: 0 0 35;
    text-align: justify;
    font-size: 23px;
    color: #161616; 
}

.siteparagrafo {
    font-size: 17px;
    
}

a{
    display: inline;
    background-image: linear-gradient(rgb(125, 128, 125), rgb(199, 199, 207));
    background-repeat: no-repeat;
    background-size: 0% 2px;
    background-position: left bottom;
    transition: background-size 500ms ease;
    text-decoration: none;
    padding: 10px ;
    font-size: 23px;
    color: #161616; 
}
a:hover{
    background-size: 100% 2px;
    
}
main img{
   width: 100%;

}
ol{
    text-align: center;
    margin: auto;
    text-align: left;
}

