
@import url('https://fonts.googleapis.com/css2?family=Commissioner:wght@100&display=swap');

*
{margin: 0;
padding: 0;
}

body{
    font-family: 'Commissioner', sans-serif;

}

header{
    background-image: url(imagem/head);
    background-position: center;
    background-repeat: no-repeat;
    padding: 210px;
    opacity: 0.8;
}
p{ 
    color: #161616;
    display: swap;
    width: 1050px;
    margin: auto;
    padding: 40px;
    text-align: justify;
    font-weight: bold;
    font-weight: 16px;
}

h1{
    margin: auto;
    padding: 40px;
    display: block;
    width: 980px;
    margin: 0 0 35;
    text-align: justify;
}

a{
    display: inline;
    background-image: linear-gradient(rgb(74, 78, 74), rgb(108, 108, 110));
    background-repeat: no-repeat;
    background-size: 0% 3px;
    background-position: left bottom;
    transition: background-size 500ms ease;
    text-decoration: none;
       
}
a:hover{
    background-size: 100% 3px;
    
}


.titulo{
    text-align: center;
    color: white;
    
    
}

img{
   display: block;
   width: 1050px;
   margin: auto;
  
   !--animation: float 3s ease-in-out infinite; --!
   

   

}
